<header class="container">
  <div class="row pt-2">
    <div class="col">
      <h1 id="page-title" class="text-dark text-center">
        Sample Angular App for <span class="text-danger">AWS CodePipeline V6</span>
      </h1>
      <hr>
      <h2 class="text-right">
        <span class="badge badge-info">Version: 2.0</span>
      </h2>
    </div>
  </div>
</header>

<main class="container">
  <div class="row pt-2">
    <div class="col">
      <p class="lead">
        Congratulations! You successfully built and deployed your code - Test 2.
      </p>
      <p class="lead">
        This is a simple single-page calculator app developed using Angular 9 and Bootstrap 4.4.1 for our build examples on <strong>AWS CodePipeline V10</strong> course.
      </p>
      <app-calculator></app-calculator>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
